i.icon-mg-sm{
  margin-right: 0.45rem;
}

.card-centrado{

  background: #e0e0e000;
  margin:auto;
  height: auto;
  width: auto;
  display: flex;
  /* align-items por defecto tiene el valor `stretch` */
  align-items: start;
}

.center-h {
    justify-content: center;
  }
  .center-v {
    align-items: center;
  }

  .centro2{
    margin-left: auto;
    margin-right: auto;
  }
  .center-s{
    /*display: flex;*/
  /* align-items por defecto tiene el valor `stretch` */
    /*align-items: start;*/
    /*margin-left: 10%;*/
    width: auto;

  }




.card-notificacion{
  width: 40%;
  position: relative;

  margin-left: 10rem;
  margin-top: 2rem;
}

.card-notificacion-media{
  width: 55%;
  position: relative;

  margin-left: 6rem;
  margin-top: 3rem;
}

.user-image-mini {
  border-radius: 50%;
  float: left;
  max-height: 2.4rem;
  margin-right: 5px;
  margin-top: -2px;
  max-width: 3rem;
  min-width: 2rem;
  min-height: 2rem;
}

.image-mini-rounded {
  border-radius: 0.25rem;
  float: left;
  max-height: 2.4rem;
  margin-right: 3px;
  margin-top: -2px;
  max-width: 4.5rem;
  min-width: 3rem;
  min-height: 2.2rem;
}


.register-page-2 {
  -ms-flex-align: center;
  align-items: center;
  background: #e9ecef;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 75vh;
  width: 100vw;
  -ms-flex-pack: center;
  justify-content: center;
}


.text-danger-borde {
  color: #f70707 !important;
  -webkit-text-stroke: 0.5px rgb(248, 246, 246);
}

.text-danger-borde2 {
  color: #f3efef !important;
  -webkit-text-stroke: 0.8px rgb(230, 24, 24);
}

.badge-pill {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
}



.badge-pill-new {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 90%;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 8rem;
  }



.badge-verde-b {
    color: #ffffff;
    background-color:#00bb2d;
  }



.badge-verde-oscuro {
  color: #ffffff;
  background-color: #065535;
}

.badge-resaltador {
  color: #000000;
  background-color: #00ff00;
}

.badge-oro {
  color: #fdfdfd;
  background-color: #efb810;
}

.badge-oro2 {
    color: #fdfdfd;
    background-color: #ffae00;
  }


.badge-morado {
  color: #ffffff;
  background-color: #af2fe2;
}




.btn-morado {
    color: #ffffff;
    background-color: #b235fa;
    border-color: #b327ac;
    box-shadow: none;
  }

  .btn-morado:hover {
    color: #ffffff;
    background-color: #b235fa;
    border-color: #b327ac;
  }
