i.icon-mg-sm{
  margin-right: 0.45rem;
}

.card-centrado{

  background: #e0e0e000;
  margin:auto;
  height: auto;
  width: auto;
  display: flex;
  /* align-items por defecto tiene el valor `stretch` */
  align-items: start;
}

.center-h {
    justify-content: center;
  }
  .center-v {
    align-items: center;
  }

  .centro2{
    margin-left: auto;
    margin-right: auto;
  }
  .center-s{
    /*display: flex;*/
  /* align-items por defecto tiene el valor `stretch` */
    /*align-items: start;*/
    /*margin-left: 10%;*/
    width: auto;

  }




.card-notificacion{
  width: 40%;
  position: relative;

  margin-left: 10rem;
  margin-top: 2rem;
}

.card-notificacion-media{
  width: 55%;
  position: relative;

  margin-left: 6rem;
  margin-top: 3rem;
}

.user-image-mini {
  border-radius: 50%;
  float: left;
  max-height: 2.4rem;
  margin-right: 5px;
  margin-top: -2px;
  max-width: 3rem;
  min-width: 2rem;
  min-height: 2rem;
}

.image-mini-rounded {
  border-radius: 0.25rem;
  float: left;
  max-height: 2.4rem;
  margin-right: 3px;
  margin-top: -2px;
  max-width: 4.5rem;
  min-width: 3rem;
  min-height: 2.2rem;
}


.register-page-2 {
  -ms-flex-align: center;
  align-items: center;
  background: #e9ecef;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 75vh;
  width: 100vw;
  -ms-flex-pack: center;
  justify-content: center;
}


.text-danger-borde {
  color: #f70707 !important;
  -webkit-text-stroke: 0.5px rgb(248, 246, 246);
}

.text-danger-borde2 {
  color: #f3efef !important;
  -webkit-text-stroke: 0.8px rgb(230, 24, 24);
}

.badge-pill {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
}



.badge-pill-new {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 90%;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 8rem;
  }



.badge-verde-b {
    color: #ffffff;
    background-color:#00bb2d;
  }



.badge-verde-oscuro {
  color: #ffffff;
  background-color: #065535;
}

.badge-resaltador {
  color: #000000;
  background-color: #00ff00;
}

.badge-oro {
  color: #fdfdfd;
  background-color: #efb810;
}

.badge-oro2 {
    color: #fdfdfd;
    background-color: #ffae00;
  }


.badge-morado {
  color: #ffffff;
  background-color: #af2fe2;
}




.btn-morado {
    color: #ffffff;
    background-color: #b235fa;
    border-color: #b327ac;
    box-shadow: none;
  }

  .btn-morado:hover {
    color: #ffffff;
    background-color: #4daa0f;
    border-color: #ffffff;
  }





:after, :before {
    box-sizing: border-box;
}

a {
    color: #337ab7;
    text-decoration: none;
}
i{
  margin-bottom:4px;
}

.btns {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.btn-app {
    color: white;
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    padding: 10px 15px;
    margin: 0;
    min-width: 60px;
    max-width: 90px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 12px;
    transition: all .2s;
    background-color: steelblue !important;
}

.btn-app > .fa, .btn-app > .glyphicon, .btn-app > .ion {
    font-size: 30px;
    display: block;
}

.btn-app:hover {
    border-color: rgba(250, 248, 248, 0);
    transform: scale(1.1);
}

.pdf {
  background-color: #dc2f2f !important;
}

.excel {
    background-color: #2f992f !important;
}

.csv {
    background-color: #2c90ee !important;
}

.imprimir {
    background-color: #c41dee !important;
}

/*
Esto es opcional pero sirve para que todos los botones de exportacion se distribuyan de manera equitativa usando flexbox

.flexcontent {
    display: flex;
    justify-content: space-around;
}
*/

.selectTable{
  height:40px;
  float:right;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
    margin-top: 15px;
}

.btn-secondary {
    color: #fff;
    background-color: #4682b4;
    border-color: #4682b4;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #315f86;
    border-color: #545b62;
}



.titulo-tabla{
  color:#606263;
  text-align:center;
  margin-top:15px;
  margin-bottom:15px;
  font-weight:bold;
}






.inline{
  display:inline-block;
  padding:0;
}
